body {
  margin: 33px;
  font-family: 'Cormorant', serif;
  font-size: 20px;
  line-height: 1.45;
}

.header {
  margin-bottom: 64 px;
  text-align: center;
  font-size: 33px;
}

.MM-title {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.section-title {
  margin: -16px 0 0;
}

.label {
  font-family: 'OCRB', monospace;
  letter-spacing: 0.08em;
}